[Unit]
Description=LTSP Display Manager
Conflicts=getty@tty7.service
After=systemd-user-sessions.service getty@tty7.service plymouth-quit.service systemd-logind.service
Wants=systemd-user-sessions.service

[Service]
# screen_session sets up XAUTHORITY/DISPLAY and execs `xinit ... /usr/sbin/ldm -- Xorg ...`
# (see /usr/share/ltsp/screen.d/ldm); running /usr/sbin/ldm directly here would skip
# starting Xorg entirely. "07" is the default SCREEN_07=ldm mapping (VT7, the classic
# graphical-VT convention), see ltsp_config.d/15default-screen.
ExecStart=/usr/share/ltsp/screen_session 07
Restart=on-failure
IgnoreSIGPIPE=no
KillMode=mixed
UtmpIdentifier=tty7
UtmpMode=user
TTYPath=/dev/tty7
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty
StandardOutput=journal

[Install]
Alias=display-manager.service
