#!/usr/bin/make -f

export ENABLE_NLS=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_install:
	dh_install
	rm -f debian/ldm/usr/lib/*/ldm/*.la

override_dh_fixperms:
	dh_fixperms
	test ! -f debian/ldm/usr/share/ldm/ldm-script || chmod +x debian/ldm/usr/share/ldm/ldm-script

override_dh_autoreconf:
	dh_autoreconf ./autogen.sh
